CODING_MODEL_PROVIDER=fake
CODING_MODEL_NAME=coding-model
CODING_MODEL_ENDPOINT=
CODING_MODEL_TIMEOUT_SECONDS=60
GENERAL_MODEL_PROVIDER=fake
GENERAL_MODEL_NAME=general-model
GENERAL_MODEL_ENDPOINT=
GENERAL_MODEL_TIMEOUT_SECONDS=60